@using Classroom.Models.Common;
@{
    ViewData["Title"] = "Admin | Người dùng";
}
@model PagedResult<Classroom.Models.System.Users.UserViewModel>

@section Scripts{
<script>
    setTimeout(function () {
        $('#msgAlert').fadeOut('slow');
    }, 2000);
</script>
}

<style>
    .bg-gradient-primary {
        background-color: #1cc88a;
        background-image: linear-gradient(180deg, #1cc88a 10%, #13855c 100%);
        background-size: cover;
    }
</style>

<h1 class="mt-4">Danh sách người dùng</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    <li class="breadcrumb-item"><a asp-controller="User" asp-action="Index">Người dùng</a></li>
    <li class="breadcrumb-item active">Danh sách người dùng</li>
</ol>

<!-- DataTales -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách người dùng</h6>
    </div>

    @* Create new *@
    <div class="card-header">
        <div style="padding: 0;" class="col-md-6 col-xs-12">
            <a class="btn btn-success" asp-action="Create" asp-controller="User">Tạo mới</a>
        </div>
    </div>

    <div class="card-body" style="padding-top: 0;">
        <div class="table-responsive">

            @* Search and alert *@
            <form asp-action="Index" method="get">
                <div class="col-sm-12 col-md-6 my-3">
                    <div class="row">
                        @if (ViewBag.SuccessMsg != null)
                        {
                            <div id="msgAlert" class="alert alert-success" role="alert">
                                @ViewBag.SuccessMsg
                            </div>
                        }
                    </div>
                    <div class="dataTables_filter">
                        <div class="input-group">
                            <input value="@ViewBag.Keyword" name="keyword" type="search"
                                class="form-control bg-light border-0 small" autocomplete="off" placeholder="Tìm kiếm..."
                                aria-controls="dataTable">
                            <div class="input-group-append">
                                <a href="/User" class="btn btn-secondary" type="submit">
                                    <i class="fa-solid fa-rotate-left"></i>
                                </a>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            @* Table *@

            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Họ</th>
                        <th>Tên</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ email</th>
                        <th>Số dư tài khoản</th>
                        <th>Tuỳ chọn</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Items != null)
                    {
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AccountBalance)
                                </td>
                                <td>
                                    <a style="text-decoration: none;"
                                href="@Url.Action("Details", "User", new { id = item.Id })">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </a>
                                    <a style="text-decoration: none;" href="@Url.Action("Edit", "User", new { id = item.Id })">
                                        <i class="fa-solid fa-user-pen"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>