@using Classroom.Models.Common;
@model PagedResult<Classroom.Models.Catalog.Submissions.SubmissionViewModel>

@{
    ViewData["Title"] = "Quản lý nộp bài";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script>
    setTimeout(function () {
        $('#msgAlert').fadeOut('slow');
    }, 2000);
</script>
}
<h1 class="mt-4">Quản lý nộp bài</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    <li class="breadcrumb-item"><a asp-controller="Submission">Nộp bài</a></li>
    <li class="breadcrumb-item active">Danh sách nộp bài</li>
</ol>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách nộp bài</h6>
    </div>

    <div class="card-body" style="padding-top: 0;">
        <div class="table-responsive">
            <form asp-action="Report" class="m-3" method="get">
                <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary">
                    <i class="fa-solid fa-file-arrow-down"></i> Xuất bảng điểm Excel
                </a>
                <input hidden value="@ViewBag.Keyword" name="keyword" type="search"
                    class="form-control bg-light border-0 small" autocomplete="off" placeholder="Tìm kiếm..."
                    aria-controls="dataTable">

                <select hidden class="form-control bg-light border-0 small" name="HomeworkID" aria-label="Chọn bài tập">
                    <option>Tất cả bài tập</option>
                    @foreach (var item in ViewBag.listH)
                    {
                        if (ViewBag.HomeworkID == item.HomeworkID)
                        {
                            <option selected value="@item.HomeworkID">@item.HomeworkName - @item.ClassName
                            </option>
                        }
                        else
                        {
                            <option value="@item.HomeworkID">@item.HomeworkName - @item.ClassName</option>
                        }
                    }
                </select>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered animated--grow-in">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Xuất bảng điểm</h1>
                            </div>
                            <div class="modal-body">
                                <h6>Vui lòng thực hiện theo các bước sau đây để có kết quả tốt nhất.</h6>
                                <li>Bước 1: Lọc bảng điểm bằng cách nhập vào nội dung tìm kiếm và chọn tên lớp học.</li>
                                <li>Bước 2: Nhấn vào biểu tượng tìm kiếm để hiện ra kết quả</li>
                                <li>Bước 3: Sau khi kiểm tra thông tun, nhấn vào "Xuất bảng điểm Excel" và xác nhận.</li>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                <button type="submit" class="btn btn-primary">Xác nhận</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form asp-action="Index" method="get">
                <div class="col-sm-12 col-md-12 my-3">
                    <div class="row">
                        @if (ViewBag.SuccessMsg != null)
                        {
                            <div id="msgAlert" class="alert alert-success" role="alert">
                                @ViewBag.SuccessMsg
                            </div>
                        }
                    </div>
                    <div class="dataTables_filter">
                        <div class="input-group">
                            <input value="@ViewBag.Keyword" name="keyword" type="search"
                                class="form-control bg-light border-0 small" autocomplete="off"
                                placeholder="Tìm kiếm..." aria-controls="dataTable">

                            <select class="form-control bg-light border-0 small" name="HomeworkID"
                                aria-label="Chọn bài tập">
                                <option>Tất cả bài tập</option>
                                @foreach (var item in ViewBag.listH)
                                {
                                    if (ViewBag.HomeworkID == item.HomeworkID)
                                    {
                                        <option selected value="@item.HomeworkID">@item.HomeworkName - @item.ClassName
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@item.HomeworkID">@item.HomeworkName - @item.ClassName</option>
                                    }
                                }
                            </select>
                            <div class="input-group-append">
                                <a asp-controller="Submission" class="btn btn-secondary" type="submit">
                                    <i class="fa-solid fa-rotate-left"></i>
                                </a>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Tên lớp học
                        </th>
                        <th>
                            Tên bài tập
                        </th>
                        <th>
                            Học sinh
                        </th>
                        <th>
                            Thời gian nộp bài
                        </th>
                        <th>Điểm</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Items != null)
                    {
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ClassName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HomeworkName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @if (Convert.ToDateTime(@item.DateTimeUpdated) < Convert.ToDateTime(@item.Deadline))
                                    {
                                        @Html.DisplayFor(modelItem => item.SubmissionDateTime)
                                        <p class="text-success small mb-0">Nộp đúng hạn</p>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.SubmissionDateTime)
                                        <p class="text-danger small mb-0">Nộp trễ</p>
                                    }

                                </td>
                                <td>
                                    @if (item.Mark == 0)
                                    {
                                        <p class="text-danger">@item.Mark</p>
                                    }
                                    else
                                    {
                                        <p class="text-success">@item.Mark</p>
                                    }

                                </td>
                                <td>
                                    <a style="text-decoration: none;"
                                href="@Url.Action("Details", "Submission", new { id = item.SubmissionID })">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        @await Component.InvokeAsync("Pager", Model)
    </div>
</div>