@using Classroom.Models.Common;
@model PagedResult<Classroom.Models.Catalog.Submissions.SubmissionViewModel>

@{
    ViewData["Title"] = "Danh sách bài tập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
<script>
    setTimeout(function () {
        $('#msgAlert').fadeOut('slow');
    }, 2000);
</script>
}
<div class="container-fluid">
    <h1 class="mt-4">Danh sách bài tập</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="/Class">Bài tập</a></li>
        <li class="breadcrumb-item active">Danh sách bài tập</li>
    </ol>
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách bài tập</h6>
        </div>
        <div class="card-header">
            <div style="padding: 0;" class="col-md-6 col-xs-12">
                <a class="btn btn-success" asp-action="Create" asp-controller="Homework">Tạo mới</a>
            </div>
        </div>

        <div class="card-body" style="padding-top: 0;">
            <div class="table-responsive">
                <form asp-action="ListSubmission" method="get">
                    <div class="col-sm-12 col-md-6 my-3">
                        <div class="row">
                            @if (ViewBag.SuccessMsg != null)
                            {
                                <div id="msgAlert" class="alert alert-success" role="alert">
                                    @ViewBag.SuccessMsg
                                </div>
                            }
                        </div>
                        <div class="dataTables_filter">
                            <div class="input-group">
                                <select class="form-control bg-light border-0 small" name="bai_tap" asp-items="@ViewBag.Homeworks">
                                    <option value="0">Chọn bài tập</option>
                                </select>
                                <div class="input-group-append">
                                    <a href="/danh-sach-nop-bai" class="btn btn-secondary" type="submit">
                                        <i class="fa-solid fa-rotate-left"></i>
                                    </a>
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Học sinh
                            </th>
                            <th>
                                Tên lớp học
                            </th>
                            <th>
                                Tên bài tập
                            </th>
                            <th>
                                Thời gian cập nhật
                            </th>
                            <th>
                                Điểm
                            </th>
                            <th>
                                Tuỳ chọn
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Items != null)
                        {
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClassName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HomeworkName)
                                    </td>
                                    @if(Convert.ToDateTime(item.DateTimeUpdated) > Convert.ToDateTime(item.Deadline)){
                                        <td class="text-danger">
                                            @item.DateTimeUpdated.ToString("HH:mm - dd/MM/yyyy")
                                        </td>
                                    }
                                    else{
                                        <td class="text-success">
                                            @item.DateTimeUpdated.ToString("HH:mm - dd/MM/yyyy")
                                        </td>
                                    }
                                    
                                    <td class="text-info">
                                        @item.Mark
                                    </td>
                                    <td>
                                        <a style="text-decoration: none;"
                                    href="@Url.Action("Details", "Submission", new { id = item.SubmissionID })">
                                            <i class="fa-solid fa-circle-info"></i>
                                        </a>
                                        <a style="text-decoration: none;"
                                    href="@Url.Action("Edit", "Submission", new { id = item.SubmissionID })">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>