@using Classroom.Data.Enums
@model Classroom.Models.Catalog.Classes.ClassViewModel;
@{
    ViewData["Title"] = @Html.DisplayFor(model => model.ClassName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
<script src="https://cdn.ckeditor.com/ckeditor5/35.3.0/super-build/ckeditor.js"></script>
<script>
    class MyUploadAdapter {
        constructor(loader) {
            // The file loader instance to use during the upload.
            this.loader = loader;
        }

        // Starts the upload process.
        upload() {
            return this.loader.file
                .then(file => new Promise((resolve, reject) => {
                    this._initRequest();
                    this._initListeners(resolve, reject, file);
                    this._sendRequest(file);
                }));
        }

        // Aborts the upload process.
        abort() {
            if (this.xhr) {
                this.xhr.abort();
            }
        }

        // Initializes the XMLHttpRequest object using the URL passed to the constructor.
        _initRequest() {
            const xhr = this.xhr = new XMLHttpRequest();

            // Note that your request may look different. It is up to you and your editor
            // integration to choose the right communication channel. This example uses
            // a POST request with JSON as a data structure but your configuration
            // could be different.
            xhr.open('POST', '@Url.Action("UploadImage", "Class")', true);
            xhr.responseType = 'json';
        }

        // Initializes XMLHttpRequest listeners.
        _initListeners(resolve, reject, file) {
            const xhr = this.xhr;
            const loader = this.loader;
            const genericErrorText = `Couldn't upload file: ${file.name}.`;

            xhr.addEventListener('error', () => reject(genericErrorText));
            xhr.addEventListener('abort', () => reject());
            xhr.addEventListener('load', () => {
                const response = xhr.response;

                // This example assumes the XHR server's "response" object will come with
                // an "error" which has its own "message" that can be passed to reject()
                // in the upload promise.
                //
                // Your integration may handle upload errors in a different way so make sure
                // it is done properly. The reject() function must be called when the upload fails.
                if (!response || response.error) {
                    return reject(response && response.error ? response.error.message : genericErrorText);
                }

                // If the upload is successful, resolve the upload promise with an object containing
                // at least the "default" URL, pointing to the image on the server.
                // This URL will be used to display the image in the content. Learn more in the
                // UploadAdapter#upload documentation.
                resolve({
                    default: response.url
                });
            });

            // Upload progress when it is supported. The file loader has the #uploadTotal and #uploaded
            // properties which are used e.g. to display the upload progress bar in the editor
            // user interface.
            if (xhr.upload) {
                xhr.upload.addEventListener('progress', evt => {
                    if (evt.lengthComputable) {
                        loader.uploadTotal = evt.total;
                        loader.uploaded = evt.loaded;
                    }
                });
            }
        }

        // Prepares the data and sends the request.
        _sendRequest(file) {
            // Prepare the form data.
            const data = new FormData();

            data.append('upload', file);

            // Important note: This is the right place to implement security mechanisms
            // like authentication and CSRF protection. For instance, you can use
            // XMLHttpRequest.setRequestHeader() to set the request headers containing
            // the CSRF token generated earlier by your application.

            // Send the request.
            this.xhr.send(data);
        }
    }

    function MyCustomUploadAdapterPlugin(editor) {
        editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
            // Configure the URL to the upload script in your back-end here!
            return new MyUploadAdapter(loader);
        };
    }
    // ...

    CKEDITOR.ClassicEditor.create(document.getElementById("editorHomework"), {
        toolbar: {
            items: [
                'exportPDF', 'exportWord', '|',
                'findAndReplace', 'selectAll', '|',
                'heading', '|',
                'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
                'bulletedList', 'numberedList', 'todoList', '|',
                'outdent', 'indent', '|',
                'undo', 'redo',

                'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
                'alignment', '|',
                'link', 'insertImage', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
                'specialCharacters', 'horizontalLine', 'pageBreak', '|',
                '-',
                'textPartLanguage', '|',
                'sourceEditing'
            ],
            shouldNotGroupWhenFull: true
        },
        // Changing the language of the interface requires loading the language file using the <script> tag.
        // language: 'es',
        list: {
            properties: {
                styles: true,
                startIndex: true,
                reversed: true
            }
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
        heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
            ]
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
        placeholder: 'Nhập nội dung...',
        // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-family-feature
        fontFamily: {
            options: [
                'default',
                'Arial, Helvetica, sans-serif',
                'Courier New, Courier, monospace',
                'Georgia, serif',
                'Lucida Sans Unicode, Lucida Grande, sans-serif',
                'Tahoma, Geneva, sans-serif',
                'Times New Roman, Times, serif',
                'Trebuchet MS, Helvetica, sans-serif',
                'Verdana, Geneva, sans-serif'
            ],
            supportAllValues: true
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
        fontSize: {
            options: [10, 12, 14, 'default', 18, 20, 22],
            supportAllValues: true
        },
        // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
        // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
        htmlSupport: {
            allow: [
                {
                    name: /.*/,
                    attributes: true,
                    classes: true,
                    styles: true
                }
            ]
        },
        // Be careful with enabling previews
        // https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html#content-previews
        htmlEmbed: {
            showPreviews: true
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
        mention: {
            feeds: [
                {
                    marker: '@@',
                    feed: [
                        '@@apple', '@@bears', '@@brownie', '@@cake', '@@cake', '@@candy', '@@canes', '@@chocolate', '@@cookie', '@@cotton', '@@cream',
                        '@@cupcake', '@@danish', '@@donut', '@@dragée', '@@fruitcake', '@@gingerbread', '@@gummi', '@@ice', '@@jelly-o',
                        '@@liquorice', '@@macaroon', '@@marzipan', '@@oat', '@@pie', '@@plum', '@@pudding', '@@sesame', '@@snaps', '@@soufflé',
                        '@@sugar', '@@sweet', '@@topping', '@@wafer'
                    ],
                    minimumCharacters: 1
                }
            ]
        },
        // The "super-build" contains more premium features that require additional configuration, disable them below.
        // Do not turn them on unless you read the documentation and know how to configure them and setup the editor.
        removePlugins: [
            // These two are commercial, but you can try them out without registering to a trial.
            // 'ExportPdf',
            // 'ExportWord',
            'CKBox',
            'CKFinder',
            'EasyImage',
            // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
            // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
            // Storing images as Base64 is usually a very bad idea.
            // Replace it on production website with other solutions:
            // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
            // 'Base64UploadAdapter',
            'RealTimeCollaborativeComments',
            'RealTimeCollaborativeTrackChanges',
            'RealTimeCollaborativeRevisionHistory',
            'PresenceList',
            'Comments',
            'TrackChanges',
            'TrackChangesData',
            'RevisionHistory',
            'Pagination',
            'WProofreader',
            // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
            // from a local file system (file://) - load this site via HTTP server if you enable MathType
            'MathType'
        ]
    }, {
        extraPlugins: [MyCustomUploadAdapterPlugin],

        // ...
    })
    .catch(error => {
        console.log(error);
    });

    CKEDITOR.ClassicEditor.create(document.getElementById("editorEx"), {
        toolbar: {
            items: [
                'exportPDF', 'exportWord', '|',
                'findAndReplace', 'selectAll', '|',
                'heading', '|',
                'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
                'bulletedList', 'numberedList', 'todoList', '|',
                'outdent', 'indent', '|',
                'undo', 'redo',

                'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
                'alignment', '|',
                'link', 'insertImage', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
                'specialCharacters', 'horizontalLine', 'pageBreak', '|',
                '-',
                'textPartLanguage', '|',
                'sourceEditing'
            ],
            shouldNotGroupWhenFull: true
        },
        // Changing the language of the interface requires loading the language file using the <script> tag.
        // language: 'es',
        list: {
            properties: {
                styles: true,
                startIndex: true,
                reversed: true
            }
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
        heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
            ]
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
        placeholder: 'Nhập nội dung...',
        // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-family-feature
        fontFamily: {
            options: [
                'default',
                'Arial, Helvetica, sans-serif',
                'Courier New, Courier, monospace',
                'Georgia, serif',
                'Lucida Sans Unicode, Lucida Grande, sans-serif',
                'Tahoma, Geneva, sans-serif',
                'Times New Roman, Times, serif',
                'Trebuchet MS, Helvetica, sans-serif',
                'Verdana, Geneva, sans-serif'
            ],
            supportAllValues: true
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
        fontSize: {
            options: [10, 12, 14, 'default', 18, 20, 22],
            supportAllValues: true
        },
        // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
        // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
        htmlSupport: {
            allow: [
                {
                    name: /.*/,
                    attributes: true,
                    classes: true,
                    styles: true
                }
            ]
        },
        // Be careful with enabling previews
        // https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html#content-previews
        htmlEmbed: {
            showPreviews: true
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
        mention: {
            feeds: [
                {
                    marker: '@@',
                    feed: [
                        '@@apple', '@@bears', '@@brownie', '@@cake', '@@cake', '@@candy', '@@canes', '@@chocolate', '@@cookie', '@@cotton', '@@cream',
                        '@@cupcake', '@@danish', '@@donut', '@@dragée', '@@fruitcake', '@@gingerbread', '@@gummi', '@@ice', '@@jelly-o',
                        '@@liquorice', '@@macaroon', '@@marzipan', '@@oat', '@@pie', '@@plum', '@@pudding', '@@sesame', '@@snaps', '@@soufflé',
                        '@@sugar', '@@sweet', '@@topping', '@@wafer'
                    ],
                    minimumCharacters: 1
                }
            ]
        },
        // The "super-build" contains more premium features that require additional configuration, disable them below.
        // Do not turn them on unless you read the documentation and know how to configure them and setup the editor.
        removePlugins: [
            // These two are commercial, but you can try them out without registering to a trial.
            // 'ExportPdf',
            // 'ExportWord',
            'CKBox',
            'CKFinder',
            'EasyImage',
            // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
            // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
            // Storing images as Base64 is usually a very bad idea.
            // Replace it on production website with other solutions:
            // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
            // 'Base64UploadAdapter',
            'RealTimeCollaborativeComments',
            'RealTimeCollaborativeTrackChanges',
            'RealTimeCollaborativeRevisionHistory',
            'PresenceList',
            'Comments',
            'TrackChanges',
            'TrackChangesData',
            'RevisionHistory',
            'Pagination',
            'WProofreader',
            // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
            // from a local file system (file://) - load this site via HTTP server if you enable MathType
            'MathType'
        ]
    }, {
        extraPlugins: [MyCustomUploadAdapterPlugin],

        // ...
    })
    .catch(error => {
        console.log(error);
    });

        CKEDITOR.ClassicEditor.create(document.getElementById("editor"), {
        toolbar: {
            items: [
                'exportPDF', 'exportWord', '|',
                'findAndReplace', 'selectAll', '|',
                'heading', '|',
                'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
                'bulletedList', 'numberedList', 'todoList', '|',
                'outdent', 'indent', '|',
                'undo', 'redo',

                'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
                'alignment', '|',
                'link', 'insertImage', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
                'specialCharacters', 'horizontalLine', 'pageBreak', '|',
                '-',
                'textPartLanguage', '|',
                'sourceEditing'
            ],
            shouldNotGroupWhenFull: true
        },
        // Changing the language of the interface requires loading the language file using the <script> tag.
        // language: 'es',
        list: {
            properties: {
                styles: true,
                startIndex: true,
                reversed: true
            }
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration
        heading: {
            options: [
                { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
            ]
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
        placeholder: 'Nhập nội dung...',
        // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-family-feature
        fontFamily: {
            options: [
                'default',
                'Arial, Helvetica, sans-serif',
                'Courier New, Courier, monospace',
                'Georgia, serif',
                'Lucida Sans Unicode, Lucida Grande, sans-serif',
                'Tahoma, Geneva, sans-serif',
                'Times New Roman, Times, serif',
                'Trebuchet MS, Helvetica, sans-serif',
                'Verdana, Geneva, sans-serif'
            ],
            supportAllValues: true
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/font.html#configuring-the-font-size-feature
        fontSize: {
            options: [10, 12, 14, 'default', 18, 20, 22],
            supportAllValues: true
        },
        // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
        // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
        htmlSupport: {
            allow: [
                {
                    name: /.*/,
                    attributes: true,
                    classes: true,
                    styles: true
                }
            ]
        },
        // Be careful with enabling previews
        // https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html#content-previews
        htmlEmbed: {
            showPreviews: true
        },
        // https://ckeditor.com/docs/ckeditor5/latest/features/mentions.html#configuration
        mention: {
            feeds: [
                {
                    marker: '@@',
                    feed: [
                        '@@apple', '@@bears', '@@brownie', '@@cake', '@@cake', '@@candy', '@@canes', '@@chocolate', '@@cookie', '@@cotton', '@@cream',
                        '@@cupcake', '@@danish', '@@donut', '@@dragée', '@@fruitcake', '@@gingerbread', '@@gummi', '@@ice', '@@jelly-o',
                        '@@liquorice', '@@macaroon', '@@marzipan', '@@oat', '@@pie', '@@plum', '@@pudding', '@@sesame', '@@snaps', '@@soufflé',
                        '@@sugar', '@@sweet', '@@topping', '@@wafer'
                    ],
                    minimumCharacters: 1
                }
            ]
        },
        // The "super-build" contains more premium features that require additional configuration, disable them below.
        // Do not turn them on unless you read the documentation and know how to configure them and setup the editor.
        removePlugins: [
            // These two are commercial, but you can try them out without registering to a trial.
            // 'ExportPdf',
            // 'ExportWord',
            'CKBox',
            'CKFinder',
            'EasyImage',
            // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
            // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
            // Storing images as Base64 is usually a very bad idea.
            // Replace it on production website with other solutions:
            // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
            // 'Base64UploadAdapter',
            'RealTimeCollaborativeComments',
            'RealTimeCollaborativeTrackChanges',
            'RealTimeCollaborativeRevisionHistory',
            'PresenceList',
            'Comments',
            'TrackChanges',
            'TrackChangesData',
            'RevisionHistory',
            'Pagination',
            'WProofreader',
            // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
            // from a local file system (file://) - load this site via HTTP server if you enable MathType
            'MathType'
        ]
    }, {
        extraPlugins: [MyCustomUploadAdapterPlugin],

        // ...
    })
        .catch(error => {
            console.log(error);
        });
</script>
<script>
    setTimeout(function () {
        $('#msgAlert').fadeOut('slow');
    }, 2000);
</script>
}

@{
    var returnUrl = Context.Request.Path + "?id=" + @Model.ID;
    var UserName = User.Identity.Name;
}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    <li class="breadcrumb-item active">@Html.DisplayFor(model => model.ClassName)</li>
</ol>
<div>
    @if (ViewBag.SuccessMsg != null)
    {
        <div id="msgAlert" class="alert alert-success" role="alert">
            @ViewBag.SuccessMsg
        </div>
    }
</div>
<div class="d-flex">
<ol class="breadcrumb mb-4 me-2">
    <li class="breadcrumb-item">Mã lớp: </li>
    <h2 class="text-info font-weight-bold">@Model.ClassID</h2>
    @if (User.Identity.Name == Model.TeacherUserName)
    {
        <a data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Đổi mã lớp học" data-bs-placement="top" href="@Url.Action("ChangeClassID", "Class", new { id = Model.ID })"><i class="fa-solid fa-rotate"></i></a>
    }
</ol>
    <h1>@Html.DisplayFor(model => model.ClassName)</h1>
    @if (User.Identity.Name == Model.TeacherUserName)
    {
        <a class="mx-1" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Chỉnh sửa lớp học" data-bs-placement="top" href="@Url.Action("Edit", "Class", new { id = Model.ID })"><i class="fa-solid fa-gear"></i></a>
    }
</div>


<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">

        @if(Model.TeacherUserName == UserName){
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="m-0 font-weight-bold text-primary">Thêm thông báo cho lớp học</h4>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    @if (string.IsNullOrEmpty(Convert.ToString(Model.TeacherImage)))
                    {
                        <div>
                            <img style="width: 2rem; height: 2rem; object-fit: cover;" class="img-profile rounded-circle me-1"
                            src="/img/image_null.png">
                            <span class="mr-2 d-lg-inline text-primary">@Model.Teacher</span>
                        </div>
                    }
                    else
                    {
                        <div>
                            <img style="width: 2rem; height: 2rem; object-fit: cover;" class="img-profile rounded-circle me-1"
                            src="@Model.TeacherImage" alt="@Model.TeacherImage">
                            <span class="mr-2 d-lg-inline text-primary">@Model.Teacher</span>
                        </div>
                    }
                    <hr style="height:1px;border:none;color:#333;background-color:#333;" />
                    <form asp-action="Create" asp-controller="Notification" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input class="form-control mb-2" hidden name="ClassID" value="@Model.ID" type="text">
                        <input class="form-control mb-2" hidden name="ReturnUrl" value="@returnUrl" type="text">
                        <input class="form-control mb-2" name="Title" type="text" placeholder="Tiêu đề">
                        <textarea id="editor" name="Content" class="form-control"></textarea>
                        <input class="form-control my-2" name="ThumbnailImages" type="file" placeholder="Thêm tệp" multiple>
                        <button class="btn btn-primary">Tải lên thông báo</button>
                    </form>
                </div>
            </div>
        }

        @foreach (var item in Model.Notifications)
        {
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    @if (string.IsNullOrEmpty(Convert.ToString(Model.TeacherImage)))
                    {
                        <div>
                            <img style="width: 2rem; height: 2rem; object-fit: cover;" class="img-profile rounded-circle me-1"
                        src="/img/image_null.png">
                            <span class="mr-2 d-lg-inline text-primary">@Model.Teacher</span>
                            <span class="mr-2 d-lg-inline text-gray-600 small">Cập nhật lúc: @item.DateTimeCreated</span>
                        </div>
                    }
                    else
                    {
                        <div>
                            <img style="width: 2rem; height: 2rem; object-fit: cover;" class="img-profile rounded-circle me-1"
                        src="@Model.TeacherImage" alt="@Model.TeacherImage">
                            <span class="mr-2 d-lg-inline text-primary">@Model.Teacher</span>
                            <span class="mr-2 d-lg-inline text-gray-600 small">Cập nhật lúc: @item.DateTimeCreated</span>
                        </div>
                    }

                    @if (User.Identity.Name == Model.TeacherUserName)
                    {
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Tuỳ chọn:</div>
                                <a class="dropdown-item" href="@Url.Action("Edit", "Notification", new{id =@item.NotificationID, returnUrl = returnUrl})">Chỉnh sửa thông báo</a>
                                <a class=" dropdown-item text-danger"
                            href="@Url.Action("Delete","Notification",new{id = item.NotificationID, returnUrl = returnUrl})">Xoá
                                    thông báo</a>
                            </div>
                        </div>
                    }


                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <h6 class="m-0 font-weight-bold text-primary">@item.Title</h6>
                    <div class="card-group mt-2">
                        @foreach (var image in item.NotificationImages)
                        {
                            <div class="card" style="margin: 0.25rem; border: none;">
                                @{
                                    if (Convert.ToString(image.ImagePath).Contains(".png") ||
                                        Convert.ToString(image.ImagePath).Contains(".jpeg") ||
                                        Convert.ToString(image.ImagePath).Contains(".jpg") ||
                                        Convert.ToString(image.ImagePath).Contains(".svg"))
                                    {
                                        <a target="_blank" href="@image.ImagePath">
                                            <img class="img-thumbnail" src="@image.ImagePath" alt="@image.ImagePath" />
                                        </a>
                                    }
                                    else if (Convert.ToString(image.ImagePath).Contains(".pdf"))
                                    {
                                        <a target="_blank" href="@image.ImagePath">
                                            <iframe class="img-thumbnail" src="@image.ImagePath" alt="@image.ImagePath"></iframe>
                                        </a>
                                    }
                                    else{
                                        <a target="_blank" href="@image.ImagePath">
                                            <img style="max-width: 11rem; border: none;" class="img-thumbnail" src="/img/file.svg" alt="@image.ImagePath">
                                        </a>
                                    }
                                }
                            </div>
                        }
                    </div>

                    <div class="mt-2">
                        @Html.Raw(item.Content)
                    </div>

                    <hr style="height:1px;border:none;color:#333;background-color:#333; margin-bottom:0" />
                    Bình luận
                    <br><br>
                    <div id="commentScroll" style=" max-height: 20rem; resize: vertical; overflow: auto;">
                        @foreach (var a in item.Comments)
                        {
                            @if (a.UserName != User.Identity.Name)
                            {
                                @if (string.IsNullOrEmpty(Convert.ToString(a.Avatar)))
                                {
                                    <div class="d-flex flex-row mb-3">
                                        <div>
                                            <img style="width: 32px; height: 32px; object-fit: cover;"
                                class="img-profile rounded-circle me-2" src="/img/image_null.png"
                                alt="/img/image_null.png">
                                        </div>
                                        <div class="card shadow mb-4">
                                            <div class="card-header d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">@a.FullName</h6>
                                            </div>
                                            <!-- Card Body -->
                            <div class="card-body" style="padding-bottom: 0.5rem; padding-top: 0.5rem;">
                                                @a.Content
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex flex-row mb-3">
                                        <div>
                                            <img style="width: 32px; height: 32px; object-fit: cover;"
                                class="img-profile rounded-circle me-2" src="@a.Avatar" alt="@a.Avatar">
                                        </div>
                                        <div class="card shadow mb-4">
                                            <div class="card-header d-flex flex-row align-items-center justify-content-between">
                                                <h6 class="m-0 font-weight-bold text-primary">@a.FullName</h6>
                                            </div>
                                            <!-- Card Body -->
                            <div class="card-body" style="padding-bottom: 0.5rem; padding-top: 0.5rem;">
                                                @a.Content
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                @if (string.IsNullOrEmpty(Convert.ToString(a.Avatar)))
                                {
                                    <div class="d-flex flex-row-reverse mb-3">
                                        <div>
                                            <img style="width: 32px; height: 32px; object-fit: cover;"
                                class="img-profile rounded-circle" src="/img/image_null.png" alt="/img/image_null.png">
                                        </div>
                                        <div class="card shadow mb-4 me-2">
                                            <div class="card-header d-flex flex-row align-items-center justify-content-between">
                                                <div class="dropdown no-arrow">
                                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                        aria-labelledby="dropdownMenuLink">
                                                        <div class="dropdown-header">Tuỳ chọn</div>
                                                        <a class="dropdown-item text-danger"
                                            href="@Url.Action("Delete","Comment",new{id = a.CommentID, returnUrl = returnUrl})">Xoá</a>
                                                    </div>
                                                </div>
                                                <h6 class="m-0 font-weight-bold text-primary">@a.FullName</h6>
                                            </div>
                                            <!-- Card Body -->
                            <div class="card-body" style="padding-bottom: 0.5rem; padding-top: 0.5rem;">
                                                @a.Content
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex flex-row-reverse mb-3">
                                        <div>
                                            <img style="width: 32px; height: 32px; object-fit: cover;"
                                class="img-profile rounded-circle" src="@a.Avatar" alt="@a.Avatar">
                                        </div>
                                        <div class="card shadow mb-4 me-2">
                                            <div class="card-header d-flex flex-row align-items-center justify-content-between">
                                                <div class="dropdown no-arrow">
                                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                        aria-labelledby="dropdownMenuLink">
                                                        <div class="dropdown-header">Tuỳ chọn</div>
                                                        <a class="dropdown-item text-danger"
                                            href="@Url.Action("Delete","Comment",new{id = a.CommentID, returnUrl = returnUrl})">Xoá</a>
                                                    </div>
                                                </div>
                                                <h6 class="m-0 font-weight-bold text-primary">@a.FullName</h6>
                                            </div>
                                            <!-- Card Body -->
                            <div class="card-body" style="padding-bottom: 0.5rem; padding-top: 0.5rem;">
                                                @a.Content
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>

                </div>
                <form asp-controller="Comment" asp-action="Create" enctype="multipart/form-data" method="post"
                style="margin: 1rem; margin-top: 0;">
                    <div class="input-group">
                        <input name="UserName" value="@User.Identity.Name" multiple class="form-control" hidden />
                        <input value="@item.NotificationID" hidden name="NotificationID" class="form-control" />
                        <input class="form-control mb-2" hidden name="ReturnUrl" value="@returnUrl" type="text">
                        <input type="text" name="Content" class="form-control bg-light border-0 small"
                        placeholder="Nhập bình luận..." aria-label="Search" aria-describedby="basic-addon2"
                        autocomplete="off">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fa-regular fa-paper-plane"></i>
                            </button>

                        </div>
                    </div>

                </form>
            </div>
        }
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Mọi người (@Model.ClassDetails.Count)</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <h6 class="m0 text-primary">Giáo viên</h6>
                @if (string.IsNullOrEmpty(Convert.ToString(Model.TeacherImage)))
                {
                    <div class="mb-3">
                        <img style="width: 2rem; height: 2rem; object-fit: cover;" class="img-profile rounded-circle"
                        src="/img/image_null.png">
                        <span class="mr-2 d-lg-inline text-gray-600 small">@Model.Teacher</span>
                    </div>
                }
                else
                {
                    <div class="mb-3">
                        <img style="width: 2rem; height: 2rem; object-fit: cover;" class="img-profile rounded-circle"
                        src="@Model.TeacherImage" alt="@Model.TeacherImage">
                        <span class="mr-2 d-lg-inline text-gray-600 small">@Model.Teacher</span>
                    </div>
                }
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />

                <h6 class="m0 text-primary">Học sinh</h6>
                @foreach (var item in Model.ClassDetails)
                {
                    @if (string.IsNullOrEmpty(Convert.ToString(item.User.Avatar)) && item.IsTeacher == Teacher.Student)
                    {
                        <div class="mb-3">
                            <img style="width: 2rem; height: 2rem; object-fit: cover;" class="img-profile rounded-circle"
                        src="/img/image_null.png">
                            <span class="mr-2 d-lg-inline text-gray-600 small">@item.User.FirstName
                                @item.User.LastName</span>
                        </div>
                    }
                    else if (!string.IsNullOrEmpty(Convert.ToString(item.User.Avatar)) && item.IsTeacher ==
                    Teacher.Student)
                    {
                        <div class="mb-3">
                            <img style="width: 2rem; height: 2rem; object-fit: cover;" class="img-profile rounded-circle"
                        src="@item.User.Avatar" />
                            <span class="mr-2 d-lg-inline text-gray-600 small">@item.User.FirstName
                                @item.User.LastName</span>
                        </div>
                    }
                }
            </div>
        </div>

        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Lịch thi</h6>
                @if (User.Identity.Name == Model.TeacherUserName)
                {
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Tuỳ chọn:</div>
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#scheduleModal">Tạo kỳ thi</a>
                    </div>
                </div>
                }
            </div>

            <!-- Modal ExamSchedule -->
            <div class="modal fade" id="scheduleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Tạo kỳ thi</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <form asp-action="Create" asp-controller="ExamSchedule" enctype="multipart/form-data" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input name="ClassID" value="@Model.ID" hidden class="form-control" />
                                    <div class="form-group">
                                        <label name="ExamScheduleName" class="control-label">Tên kỳ thi</label>
                                        <input name="ExamScheduleName" class="form-control" placeholder="Nhập tên kỳ thi" autocomplete="off" />
                                    </div>
                                    <div class="form-group">
                                        <label name="ExamDateTime" class="control-label">Ngày thi</label>
                                        <input name="ExamDateTime" type="datetime-local" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label name="Deadline" class="control-label">Hạn làm bài</label>
                                        <input name="Deadline" type="datetime-local" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label name="Description" class="control-label">Mô tả</label>
                                        <textarea name="Description" id="editorEx" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label name="ExamTime" class="control-label">Thời gian thi</label>
                                        <input type="number" step="5" name="ExamTime" class="form-control" placeholder="Nhập thời gian thi" autocomplete="off" />
                                    </div>
                                     <div class="modal-footer">
                                        <input type="submit" value="Thêm kỳ thi" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Card Body -->
            <div class="card-body">
                @foreach (var item in Model.ExamSchedules)
                {
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary small">@item.ExamScheduleName</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                    aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Tuỳ chọn:</div>
                                    <a class="dropdown-item" href="@Url.Action("OverView", "ExamSchedule", new{id = @item.ExamScheduleID})">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <h6 class="m0 text-info small">Ngày thi: @item.ExamDateTime.ToString("HH:mm - dddd dd/MM/yyyy")</h6>
                            <h6 class="m0 text-info small">Thời gian làm bài: @item.ExamTime phút</h6>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Bài tập (@Model.Homeworks.Count)</h6>
                @if (User.Identity.Name == Model.TeacherUserName)
                {
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Tuỳ chọn:</div>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Thêm bài tập mới</a>
                        </div>
                    </div>
                }
            </div>
            <!-- Modal Homework -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm bài tập</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">
                                <form asp-action="Create" asp-controller="Homework" enctype="multipart/form-data" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input name="ClassID" value="@Model.ID" hidden class="form-control" />
                                    <div class="form-group">
                                        <label name="HomeworkName" class="control-label">Tiêu đề bài tập</label>
                                        <input name="HomeworkName" placeholder="Nhập tiêu đề..." type="text" autocomplete="off" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label name="Description" class="control-label">Mô tả bài tập</label>
                                        <textarea id="editorHomework" name="Description" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label name="SubmissionDateTime" class="control-label">Ngày nộp bài</label>
                                        <input name="SubmissionDateTime" type="datetime-local" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label name="Deadline" class="control-label">Hạn nộp bài</label>
                                        <input name="Deadline" type="datetime-local" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label name="ThumbnailImages" class="control-label">Thêm tệp</label>
                                        <input name="ThumbnailImages" type="file" multiple class="form-control" />
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" value="Thêm bài tập" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <h6 class="m0 text-info">Bài tập hiện tại (@Model.Homeworks.Where(x=> Convert.ToDateTime(x.Deadline)>DateTime.Now).ToList().Count)</h6>
                @foreach (var item in Model.Homeworks)
                {
                    @if(Convert.ToDateTime(item.Deadline) > DateTime.Now){
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary small">Lúc @item.DateTimeCreated.ToString("HH:mm - dddd dd/MM/yyyy")</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                        aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Tuỳ chọn:</div>
                                        <a class="dropdown-item" href="@Url.Action("Details", "Homework", new{id = @item.HomeworkID})">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <h6 class="m0 text-success small">Hạn nộp bài @item.Deadline.ToString("HH:mm - dddd dd/MM/yyyy")</h6>
                                <a href="@Url.Action("Details", "Homework", new{id = @item.HomeworkID})">@item.HomeworkName</a>
                                
                            </div>
                        </div>
                    }  
                }
                <hr style="height:1px;border:none;color:#333;background-color:#333;" />

                <h6 class="m0 text-info">Bài tập cũ (@Model.Homeworks.Where(x=> Convert.ToDateTime(x.Deadline)<DateTime.Now).ToList().Count)</h6>
                @foreach (var item in Model.Homeworks)
                {
                    @if(Convert.ToDateTime(item.Deadline) < DateTime.Now){
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary small">Lúc @item.DateTimeCreated.ToString("HH:mm - dddd dd/MM/yyyy")</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                        aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Tuỳ chọn:</div>
                                        <a class="dropdown-item" href="@Url.Action("Details", "Homework", new{id = @item.HomeworkID})">Xem chi tiết</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <h6 class="m0 text-danger small">Hạn nộp bài: @item.Deadline.ToString("HH:mm - dddd dd/MM/yyyy")</h6>
                                <a href="@Url.Action("Details", "Homework", new{id = @item.HomeworkID})">@item.HomeworkName</a>
                            </div>
                        </div>
                    }  
                }
            </div>
        </div>
    </div>
</div>
