@using Classroom.Models.Common;
@model PagedResult<Classroom.Models.Catalog.Classes.ClassViewModel>

@{
    ViewData["Title"] = "Trang chủ";
}

@section Scripts{
<script>
    setTimeout(function () {
        $('#msgAlert').fadeOut('slow');
    }, 2000);
</script>
}

<div class="row">
    @if (ViewBag.SuccessMsg != null)
    {
        <div class="col-xl-12 col-lg-12">
            <div id="msgAlert" class="alert alert-success" role="alert">
                @ViewBag.SuccessMsg
            </div>
        </div>
    }
    @if (Model.Items != null)
    {
        @foreach (var item in Model.Items)
        {
            <div class="col-xl-6 col-lg-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <a href="@Url.Action("OverView", "Class", new {id = item.ID })">
                            <h6 class="m-0 font-weight-bold text-primary">@item.ClassName <br> tạo bởi @item.Teacher</h6>
                        </a>
                        
                    </div>
                    <div class="text-center">
                        <a href="@Url.Action("OverView", "Class", new {id = item.ID })">
                            <img style="height: 20rem; width: 100%; object-fit: cover;" class="img-fluid img-card" src="@item.Image" alt="@item.Image">
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <i class="fa-solid fa-bookmark me-2"></i> Chủ đề: @Html.DisplayFor(modelItem => item.Topic)
                                <br>
                                <i class="fa-regular fa-calendar-plus me-2"></i> Ngày tạo: @Html.DisplayFor(modelItem => item.DateCreated)
                                @if (item.Tuition == 0)
                                {
                                    <div>
                                        <i class="fa-solid fa-sack-dollar me-2"></i> Học phí: miễn phí
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <i class="fa-solid fa-sack-dollar me-2"></i> Học phí: @Html.DisplayFor(modelItem => item.Tuition)
                                    </div>
                                }
                                <i class="fa-solid fa-user-group me-2"></i> Học viên: @Html.DisplayFor(modelItem => item.StudentNumber)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
